<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SONGS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/view.css">
	<script type="text/javascript" src="/js/view.js"></script>
</head>

<body>

    <div class="header">
		<p>&nbsp;</p>
        <h2 align="center">СЕРВИС ПОИСКА И ДОБАВЛЕНИЯ ПЕСЕН</h2>
	 </div>
	 
<div class="container">
		<h3 align="center">ВЫБЕРЕТЕ НЕОБХОДИМОЕ ДЕЙСТВИЕ</h3>
	<a href="/add">Добавить песню</a>
	<a href="/find">Найти песню</a>
	<a href="/adm">Администрирование</a>
</div>

<div class="container">
		<form id="form1" class="appnitro"  method="post" action="/add">
				
	<ul >		
	<li id="li_1" >
	<label class="description" for="element_1">Имя исполнителя </label>
	<div>
		<input name="artist" class="element text large" type="text" maxlength="64" value="" required/> 
	</div> 
	</li>	

	<li id="li_2" >
	<label class="description" for="element_2">Название песни </label>
	<div>
		<input name="album" class="element text large" type="text" maxlength="64" value="" required/> 
	</div> 
	</li>		
	
	<li id="li_3" >
	<label class="description" for="element_3">Текст песни </label>
	<div>
		<textarea  name="text_song" class="element textarea medium" required></textarea> 
	</div> 
	</li>		
	
	<li id="li_4" >
	<label class="description" for="element_4">Значение песни </label>
	<div>
		<textarea name="mean" class="element textarea medium" required></textarea> 
	</div> 
	</li>
		
	<li class="buttons">
	<input type="hidden" name="form_id" value="41027" />			    
	<input id="saveForm" class="button_text" type="submit" name="submit" value="Отправить композицию на проверку!" />
	</li>
		</ul>
	</form>	

</body>
</html>