<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SONGS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="header">
		<p>&nbsp;</p>
        <h2 align="center">СЕРВИС ПОИСКА И ДОБАВЛЕНИЯ ПЕСЕН</h2>
     </div>
<div class="container">
		<h3 align="center">ВЫБЕРЕТЕ НЕОБХОДИМОЕ ДЕЙСТВИЕ</h3>
	<a href="/add">Добавить песню</a>
	<a href="/find">Найти песню</a>
	<a href="/adm">Администрирование</a>
</div>

<div class="container">
		<% if(song !== null){ %>
	<dl class="songs">
	<%- song %>	
	</dl>
	<form id="form2" class="appnitro"  method="post" action="/adm">
	<input type="hidden" name="form_id" value="41027"/>			    
	<input id="saveForm" class="button_text" type="submit" name="submit" value="Одобрить композицию!" />
	</form>
	<% } %>
	<% if(song == null){ %>
		<h3 align = "center"> Новых песен нет! <h3>
	<% } %>
</div>

</body>
</html>