<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SONGS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/view.css">
	<script type="text/javascript" src="/js/view.js"></script>
</head>

<body>
    <div class="header">
		<p>&nbsp;</p>
        <h2 align="center">СЕРВИС ПОИСКА И ДОБАВЛЕНИЯ ПЕСЕН</h2>
	 </div>
	 	 <div class="container">
		<h3 align="center">ВЫБЕРЕТЕ НЕОБХОДИМОЕ ДЕЙСТВИЕ</h3>
	<a href="/add">Добавить песню</a>
	<a href="/find">Найти песню</a>
	<a href="/adm">Администрирование</a>
</div>
<div class="container">
	<h3 align="center">ВЫБЕРЕТЕ МЕСТО ПОИСКА</h3>
<p align="center"><a href="/find_local">Поиск в локальной БД</a>
<a href="/find_base">Поиск на Genius.com</a></p>
</div>
<div class="container">
		<h3 align="center">ПОИСК НА GENIUS.COM</h3>
	<form id="form2" class="appnitro"  method="post" action="/find_base">
				
		<li id="li_2" >
		<label class="description" for="element_2">Название песни</label>
		<div>
			<input name="album" class="element text large" type="text" maxlength="64" value="" required/> 
		</div> 
		</li>		
		
		<li class="buttons">
		<input type="hidden" name="form_id" value="41028"/>			    
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Поиск на genius.com"/>
		</li>
			</ul>
		</form>	
</div>
<% if(songs !== null){ %>
<%- songs %>	
<% } %>
<% if(text == null){ %>
	<div class="container">
	<h3 align = "center"> Композиции не найдены!<h3>
	</div>
<% } %>

</body>
</html>