<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SONGS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="header">
		<p>&nbsp;</p>
        <h2 align="center">СЕРВИС ПОИСКА И ДОБАВЛЕНИЯ ПЕСЕН</h2>
     </div>
<div class="container">
		<h3 align="center">ВЫБЕРЕТЕ НЕОБХОДИМОЕ ДЕЙСТВИЕ</h3>
	<a href="/add">Добавить песню</a>
	<a href="/find">Найти песню</a>
	<a href="/adm">Администрирование</a>
</div>
<div class="container">
	<h3 align="center">ВЫБЕРЕТЕ МЕСТО ПОИСКА</h3>
<p align="center"><a href="/find_local">Поиск в локальной БД</a>
<a href="/find_base">Поиск на Genius.com</a></p>
</div>

</body>
</html>