<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SONGS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="header">
		<p>&nbsp;</p>
        <h2 align="center">СЕРВИС ПОИСКА И ДОБАВЛЕНИЯ ПЕСЕН</h2>
     </div>
<div class="container">
		<h3 align="center">ВЫБЕРЕТЕ НЕОБХОДИМОЕ ДЕЙСТВИЕ</h3>
	<a href="/add">Добавить песню</a>
	<a href="/find">Найти песню</a>
	<a href="/adm">Администрирование</a>
</div>
<div class="container">
<h3 align="center">ОПИСАНИЕ СЕРВИСА</h3>
<p align="center">Сервис текстов песен</p>
<p align="center">Пользователь: поиск песен, просмотр информации и слов о песне, возможность добавлять новую песню,</p>
<p align="center">	строки текста (проверка администратором требуется). К каждой строке (или нескольким), может быть </p>
<p align="center">	оставлено объяснение слов, на которое может быть дан комментарий</p>
<p align="center">Админ: принять песню, объяснение к показу</p>
</div>

</body>
</html>