body {
	background: url(../img/back.jpg);
	background-size: 100%;
	font-family: 'Open Sans', sans-serif; 
}
a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a:hover {
  background: rgb(46, 156, 229);
  box-shadow: 0 15px 20px rgba(22, 37, 252, 0.4);
  color: white;
  transform: translateY(-7px);
}
.header {
    width: 900px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #D6D3D3;
    border-bottom: 2px solid #C4C2C2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: #ffffff;
    background-image: url(../img/head.jpg);

  }
  .container {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #D6D3D3;
    border-bottom: 2px solid #C4C2C2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: #ffffff;
    background-blend-mode: exclusion;
  }

  .footer 
  {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #D6D3D3;
    border-bottom: 2px solid #C4C2C2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: #ffffff;
  }

  h2 
  {
    text-shadow: 3px 3px 3px rgb(0, 0, 0),
                 -1px 1px 1px silver;
    color: white;
    transition: all .5s;
  }
h3 
{
	color: rgb(0, 0, 0);
	transition: all .5s;
}

.songs {
	overflow: hidden;
	font-size: 16px;
  }
  .songs dt, .songs dd {
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.625em 0 0.875em;
	color: rgb(255, 255, 255);
	box-sizing: border-box;
  }
  
  dt {
	width: 20%;
	float: left;
	clear: right;
	background: rgb(79, 146, 247);
	font-weight: bold;
  }
  dd {
	width: 80%;
	float: right;
	margin-left: 0;
	margin-bottom: .3125em;
	border: 1px solid rgb(79, 146, 247);
	border-left: none;
	background: rgb(58, 70, 243);
  }

  details {
    width: 99%;
    margin-left: 5px;
    display: block;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
  }
  details summary {
    float: center;
    padding: .3em;
    background: #f1f1f1;
  }
  details summary a {
    font-size: 1.5em;
    vertical-align: middle;
    text-decoration: none;
  }